* {
  font-family: sans-serif;
  font-weight: lighter;
}

header {
  margin: 0 auto;
  border-bottom: 10px solid #ccc;
  padding: 20px 0px;
  margin-bottom: 50px;
  width: 901px;
}
header h2 {
  display: inline;
  font-family: cursive;
}
.imageright {
  float: right;
}

main {
  margin: 0 auto;
  width: 901px;
}

.box1 h1 {
  font-weight: bolder;
  font-family: monospace;
  font-size: 40px;
}
.box2 {
  padding-top: 15px;
}
.box2 p {
  font-family: sans-serif;
}
.box3 {
  padding-top: 15px;
  background-image: url("img/list-bg(817x277).png");
  background-position: left top;
  height: 300px;
  list-style: square;
  font-size: 30px;
}
.box3 img {
  position: relative;
}
.box3 .half {
  float: left;
  width: 50%;
}
.box3 li {
  display: block;
}

.box4 {
  padding-top: 50px;
}
.box4 h3 {
  display: inline;
}
.box4 p {
  display: inline-block;
}
button {
  display: inline;
  float: right;
  padding: 10px 40px;
}
