body {
  margin: 50px 270px;
}

header {
  border: 5px dotted gray;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}
header h2 {
  display: inline;
  font-family: cursive;
}
.imageright {
  float: right;
}

.box1 h1 {
  font-weight: bolder;
  font-family: monospace;
  font-size: 40px;
}
.box2 {
  padding-top: 15px;
}
.box2 p {
  font-family: sans-serif;
}
.box3 {
  padding-top: 15px;
}

.box4 {
  padding-top: 50px;
}
.box4 h3 {
  display: inline;
}
.box4 p {
  display: inline-block;
}
button {
  display: inline;
  float: right;
  padding: 10px 40px;
}
